*{
    margin: 0;
    padding: 0;
}
#botoes{
    margin-top: 50px;
    width: 400px;
    height: 100px;
}
button{
    padding: 20px;
    margin: 20px;
    background-color: aqua;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0)
}
img{
    align-items: center;
}